<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include("header") %>

<body>
  <div class="box" id="heading">
    <h1 style="color:blue"><%= kindOfDay %> ToDo List!</h1>
  </div>

  <div class="box">

    <% for (const item of todoList) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= item %> </p>
    </div>
    <% } %>


    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>

  <%- include("footer") %>
</body>

</html>
